<div {{data 'parcel'}} class="item">
    <div>
        <a href="http://search.belpost.by/#{{number}}" target="_blank" class="item-number">{{number}}</a>
        <span class="item-description">{{description}}</span>
        <div class="recent-event">
            {{#recentEvent}}
                [{{dateFormatter recentEvent.date}}] {{recentEvent.eventName}} {{recentEvent.location}}
            {{/recentEvent}}

            {{^recentEvent}}
                No data available
            {{/recentEvent}}
        </div>
    </div>
    <div class="item-actions">
        <div class="item-action action-edit">&nbsp;</div>
        <div class="item-action action-delete">&nbsp;</div>
        <div style="clear: both"></div>
    </div>
</div>

